$gold: #ffd700;
$light-yellow: #fffbb0;

body {
    margin-top: 4em;
}

.navbar {
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;

    a {
        float: left;
        display: block;
        color: white;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;

        &:hover {
            border-radius: 15px 15px 0 0;
            background: white;
            color: black;
        }
    }
}

table {
    border-collapse: collapse;

    thead {
        background-color: $gold;
    }
    td, th {
        padding: 10 10 10 10;
        border: 1px solid black;
      }
}

#footer {
    font-weight: bold;
    position: fixed;
    text-align: center;
    background-color: $light-yellow;
    border: 1px solid black;
    width: 100%;
    left: 0;
    bottom: 0;
}
