html
  - // muszą byc dwie kropki bo inaczej będzie błąd w ścieżce
  include ../partial/head.pug
  body
    body
    p="To delete click this "
    form(action=`/people/delete/${_id}?_method=DELETE`, method=`POST`)
            input(type=`submit`, value=`this`)
            a(href='/people') Cancel

include ../partial/foot.pug