html
  - // muszą byc dwie kropki bo inaczej będzie błąd w ścieżce
  include ../partial/head.pug
  body
    body
    form(action=`/people/${_id}?_method=PUT`, method=`POST`)
        p
            |   Name:
            input(type=`text`, name=`name`, value=`${name}`)
            |   Surname:
            input(type=`text`, name=`surname`, value=`${surname}`)
            input(type=`submit`, value=`Submit`)

include ../partial/foot.pug