html
  - // muszą byc dwie kropki bo inaczej będzie błąd w ścieżce
  include ../partial/head.pug
  body
    table
        thead
            tr
                th= "Name"
                th= "Surname"
                th= "Action"
        tbody
            each item in list
                tr
                    td= item.name
                    td= item.surname
                    td
                        a(href=`/people/${item._id}`)
                         button= "Edit"
                        a(href=`/people/delete/${item._id}`)
                         button= "Delete"
    br
    a(href="/people/new")
        button= "Add Person"


include ../partial/foot.pug
