html
  - // muszą byc dwie kropki bo inaczej będzie błąd w ścieżce
  include ../partial/head.pug
  body
    body
    form(action='/people/', method='POST')
        p
            |   Name:
            input(type='text', name='name')
            |   Surname:
            input(type='text', name='surname')
            input(type='submit', value='Submit')

include ../partial/foot.pug